@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/*base*/
:root {
  --lighter-gray-2: #fafafa;
  --lighter-gray: #ebebeb;
  --light-gray: #d1d1d1;
  --mid-gray: #999999;
  --mid-gray-2: #7d7d7d;
  --dark-gray: #5c5c5c;
  --dark-gray-2: #474747;
  --light-black: #222222;
  --green: #2ee5ac;
  --green-2: #1bda9d;
  --orange: #ff8346;
  --mid-red: #fe4848;
  --sky: #c2c2ff;
  /*border-row*/
  --violet: #c2c2ff;
  --violet-2: #8686ff;
  --dark-red: #e14165;
  /*border-row*/
}

*,
*::before,
*::after {
  box-sizing: border-box;
  font-family: 'Montserrat', serif;
  font-optical-sizing: auto;
  margin-block-start: 0;
  margin-block-end: 0;
  margin: 0;
}
/*base*/

html,
body {
  color: var(--light-black);
  background-color: var(--lighter-gray-2);
}

main {
  padding: 32px;
  max-width: 2000px;
}

/*typography*/
.main-title {
  font-size: 26px;
  font-weight: 700;
}

.secondary-title {
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 16px;
}

.no-results-title {
  font-size: 18px;
  font-weight: 500;
}

.back-link {
  font-size: 18px;
  font-weight: 700;
}

.table-bold-text {
  font-size: 13px;
  font-weight: 500;
  color: var(--dark-gray-2);
}

.table-normal-text {
  font-size: 12px;
  font-weight: 400;
}

.table-head-text {
  font-size: 11px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--mid-gray);
}
/*typography*/

/*table*/
.table-container {
  width: 100%;
  overflow: auto;
  padding: 16px;
}

table {
  width: 100%;
  border-collapse: separate;
  border-spacing: 0 0.4em;
}

th {
  padding: 0 12px 6px 12px;
  text-align: left;
  background-color: transparent;
}

td {
  padding: 19px 12px;
  text-align: left;
}

tr > td:first-child {
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
}

tr > td:last-child {
  width: 120px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}

.row-border-violet {
  border-left: 4px solid var(--violet);
}
.row-border-violet-2 {
  border-left: 4px solid var(--violet-2);
}
.row-border-dark-red {
  border-left: 4px solid var(--dark-red);
}

.pb {
  transition: box-shadow 0.2s ease;

  &:hover {
    box-shadow: 0 0 20px 0 #00000026;
  }
  background-color: #fff;
}
/*table*/

/*statuses*/
.status {
  font-size: 12px;
  font-weight: 500;
}
.online {
  color: var(--green-2);
}
.paused {
  color: var(--orange);
}
.stopped {
  color: var(--mid-red);
}
.draft {
  color: var(--dark-gray);
}
/*statuses*/

/*buttons*/
.base-button {
  width: 95px;
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.results {
  background-color: var(--green);
  &:hover {
    background-color: var(--green-2);
  }
}

.finalize {
  background-color: var(--mid-gray-2);
  &:hover {
    background-color: var(--dark-gray);
  }
}
/*buttons*/

/*inputs*/
::placeholder {
  color: var(--light-gray);
  font-size: 14px;
}

.search-input {
  position: relative;
  display: flex;
  align-items: center;
  gap: 8px;
  width: 100%;
  border: 1px solid var(--lighter-gray);
  border-radius: 15px;
  padding: 11px 16px 11px 8px;
  background-color: #fff;
}

.input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 15px;
}

.input-text {
  font-size: 14px;
  font-weight: 400;
  color: var(--light-gray);
  margin-left: 8px;
}
/*inputs*/

/*various*/
.flex-center {
  display: flex;
  align-items: center;
  gap: 4px;
}

.flex-center-2 {
  display: flex;
  align-items: center;
  gap: 10px;
}

.top-spacing-wrapper {
  padding: 16px 16px 8px 16px;
}

.back-button {
  position: absolute;
  bottom: 48px;
  left: 40px;
}

.detailed-wrapper {
  padding: 16px;
}
/*various*/

/*no results*/
.no-results-wrapper {
  display: grid;
  justify-items: center;
  gap: 60px;
  margin-top: 152px;
}
/*no results*/
